.stack {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  line-height: 1;
  vertical-align: text-bottom;
  font-size: 0.7em;
  transform: translateY(-0.3em);
}

.character {
  display: block;
  line-height: 0.9; 
}

.word {
  display: inline;
}

.ltr {
  direction: ltr;
}